*.DS_Store

*.env
.env
assets/

*/logs/
*/.user.yml
*/conf/.user.yml
*/conf_local/.user.yml
*/.vscode/

dbt_proj_02/package-lock.yml
dbt_proj_02/target/
dbt_proj_02/dbt_packages/

logs/
venv/

**/__pycache__/
*.pyc
tmp*/
